.loader {
  --loader-size: 25px;
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 1px solid;
  border-color: #ade8f4 #ade8f4 transparent #ade8f4;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: calc(var(--loader-size) - var(--loader-size) * 0.15);
  height: calc(var(--loader-size) - var(--loader-size) * 0.15);
  border-radius: 50%;
  animation: rotationBack 0.7s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: calc(var(--loader-size) - var(--loader-size) * 0.3);
  height: calc(var(--loader-size) - var(--loader-size) * 0.3);
  border-color: #fff #fff transparent transparent;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
