%fonts-setting {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
%btn-base {
  height: 38px;
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 0.1875rem;
  border: none;
  color: #fff;
}

.login-card {
  width: 450px;
  //min-height: 300px;
  height: var(--login-card-height);
  box-sizing: border-box;
  padding: 1.5em 3em;
  border-radius: 1rem;
  background: rgba(33, 33, 33, 0.9);
  border-color: rgb(48, 48, 48);
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease-in-out;
}

.login-title {
  margin: 1em 0;
}

.btn {
  @extend %fonts-setting;
  @extend %btn-base;
  background-color: rgb(30, 94, 222);
  transition: 0.3s;
  &:hover:not(:disabled) {
    //opacity: 0.75;
    background-color: rgb(87, 138, 239);
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-loading {
  @extend %fonts-setting;
  @extend %btn-base;
  padding: 0;
  background-color: rgb(94, 94, 94);
  opacity: 0.28;
  color: rgb(255, 255, 255);
  &:hover {
    cursor: not-allowed;
  }
}

.back-account {
  color: rgb(111, 155, 244);
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}

.back-account:hover {
  text-decoration: underline;
}
