%comment-shared {
  min-height: 50px;
  width: 100%;
  margin: 5px 0;
}

.comment-other {
  @extend %comment-shared;
  float: left;
  text-align: left;
}

.comment-me {
  @extend %comment-shared;
  float: right;
  text-align: right;
}

.bubble {
  --font-1: "Roboto", sans-serif;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  font-family: var(--font-1);
  max-width: 55%;
  position: relative;
  margin: 0 15px;
}

.comment-other .bubble {
  --color-1: rgba(146,13,23,0.3);
  background-color: var(--color-1);
  border-top-left-radius: 0;
}

.comment-me .bubble {
  --color-2: #33333470;
  background-color: var(--color-2);
  border-top-right-radius: 0;
  text-align: left;
}

.comment-other .bubble:before {
  content: '';
  top: 0;
  left: -30px;
  position: absolute;
  background: transparent;

  height: 0;
  width: 0;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--color-1);
}

.comment-me .bubble:after {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  background: transparent;
  height: 0;
  width: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--color-2);
}